<div id="upload-display">
	<div class="fileUpload btn btn-primary">
    <span>Take a Photo</span>
    <input type="file" class="upload" accept="image/*" onchange="picChange(event)" />
	</div>
	<canvas id="capturedPhoto"></canvas>
  <div class="swatch" id="primary-swatch"></div>
  <div class="swatch" id="secondary-swatch"></div>
  <div class="swatch" id="tertiary-swatch"></div>

  <div id="category-images">
    <div class="item-category" id="Top">
      <%= image_tag("T-Shirt.png", class: "category-image") %>Select
    </div>
    <div class="item-category" id="Bottom">
      <%= image_tag("Dress-Pants.png", class: "category-image") %>Select
    </div>
    <div class="item-category" id="Shoes">
      <%= image_tag("Sneakers.png", class: "category-image") %>Select
    </div>
  </div>
  <%= form_for @article do |f| %>
    <input type="hidden" name="primary" value="" />
    <input type="hidden" name="secondary" value="" />
    <input type="hidden" name="tertiary" value="" />
    <input type="hidden" name="category" value="" />
    <%= f.submit "Add to Wardrobe", class: "fileUpload btn btn-primary" %>
  <% end %>
</div>




