<div id="wardrobe-analysis">
	<div id="stuff-you-like">
		<h2>Things You Own...</h2>
		<ul>
			<li>Your wardrobe has <%= current_wardrobe.articles.count %> items. (The typical MyQuickFits user owns <%= @avg_count %>)</li>
			<li><%= @tops_percent %>% tops (The typical MyQuickFits user owns <%= @avg_tops %>% tops)</li>
			<li><%= @bottoms_percent %>% bottoms (The typical MyQuickFits user owns <%= @avg_bottoms %>% bottoms)</li>
			<li><%= @shoes_percent %>% shoes (The typical MyQuickFits user owns <%= @avg_shoes %>% shoes)</li>
		</ul>
		<h2>Things You Like...</h2>
		<h3>You like to wear:</h3>
		<ul>
			<% @favorite_categories.each do |category, count| %>
				<li><h4><%= category.name %></h4></li>
				<ul>
					<li>You own <%= count %> of them.</li>
					<li>You've worn them <%= category.month_wears(current_wardrobe) %> times this month.</li>
					<li>Your favorite is the <%= category.fav_color(current_wardrobe) %> one.</li>
				</ul>
			<% end %>
		</ul>
		<h3>Your favorite colors include:</h3>
		<ul>
			<% @fav_colors.each do |name, percent| %>
				<li><h4><%= name %> (<%= percent %>% of your wardrobe)</h4></li>
			<% end %>
		</ul>
	</div>
	<div id="stuff-you-not-like">
	  <h2>Things You Dislike...</h2>
	  <h3>You hardly wear:</h3>
	  <ul>
	    <% @least_categories.each do |category, count| %>
	    <li><h4><%= category.name %></h4></li>
	    <ul>
	      <li>You own <%= count %> of them.</li>
	      <li>The last time you wore one was <%= last_wear(category.name) %>.</li>
	    </ul>
	    <% end %>
	    <li>You might want to think about giving these away...</li>
	  </ul>
	  <h3>Your least favorite colors include:</h3>
	  <ul>
	    <% @least_fav_colors.each do |name, percent| %>
	      <li><h4><%= name %> (<%= percent %>% of your wardrobe)</h4></li>
	    <% end %>
	  </ul>
	  <h3>You are missing...</h3>
	    <ul class='no-bullet'>
	      <% @missing_categories.each do |cat| %>
	        <li><h4><%= cat.name %></h4></li>
	      <% end %>
	      <li>Acquiring these will help you assemble fresher fits!</li>
	    </ul>
	</div>
</div>
