<div class="page-header" id="welcome">
	<h1>Welcome, <%= current_user.first_name %>!</h1>
</div>
<div class="carousel slide">
</div>
<div class="row">
	<% if current_wardrobe.articles.count == 0 %>
		<button class="btn btn-default btn-lg"><%= link_to "Start Adding Your Clothes", new_article_path %></button>
	<% else %>
		<div class="add-item items col-md-4">
			<button class="btn btn-default btn-lg"><%= link_to "Add Item", new_article_path %>
				<img src="/empty-hanger.svg" height="48px" width="48px">
			</button>
		</div>
		<div class="make-outfit items col-md-4">
			<button class="btn btn-default btn-lg"><%= link_to "Make Outfit", new_outfit_path %>
				<img src="/make-outfit.svg" height="48px" width="40px">
			</button>
		</div>
		<div class="see-wardrobe items col-md-4">
			<button class="btn btn-default btn-lg"><%= link_to "See Wardrobe", wardrobe_path(current_wardrobe) %>
				<img src="/full-hanger.svg" height="48px" width="48px">
			</button>
		</div>
	<% end %>
</div>

